body {
    font-family: Arial, sans-serif;
    background-color: #A8D8EA;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #AA96DA;
    color: white;
    text-align: center;
    padding: 10px 0;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 200px;
    background-color: #FFF5D2;
    text-align: center;
    transition: transform 0.3s;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    height: auto;
}

.price {
    color: #FCBAD3;
    font-size: 1.2em;
}

#cart-section {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #AA96DA;
    padding: 10px;
    text-align: center;
}

#fireworks-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
